<div class="card">
    <div class="card-body">
        <h5 class="card-title">FitHome App</h5>
        <ul>
            <li class="card-text">For iOS and Android.</li>
            <li class="card-text">Track your electricity use.</li>
            <li class="card-text">Find out your environmental impact.</li>
            <li class="card-text">See how much money you are saving.</li>
            <li class="card-text">Guided tasks makes using less electricity easy.</li>
            <li class="card-text">Beautiful and inspiring background imagery.</li>
            <li class="card-text">Discover currated articles on saving electricity.</li>
        </ul>

    </div>
</div>