<div class="card" style="width: 21rem;">
    <div class="card-body">
        <h5 class="card-title">FitHome App</h5>
        <ul>
            <li class="card-text">For iOS and Android.</li>
            <li class="card-text">Track your electricity use.</li>
            <li class="card-text">Find out your environmental impact.</li>
            <li class="card-text">See how much you are saving.</li>
            <li class="card-text">Guided tasks make it easy to lower electricity use.</li>
            <li class="card-text">Discover currated info on saving electricity.</li>
        </ul>

    </div>
</div>