<!-- <div class="row ">

    <form method="POST" action="https://formspree.io/sparky@fithome.life">
        <div class="col-10 mx-auto">
             <div class="col-lg-7 col-md-10 mx-auto"> -->
<!-- <input type="email" class="form-control form-control-lg " name="email" placeholder="Your email">
        </div>
        <div class="col-1">
            <button type="submit" class="btn btn-primary  btn-lg mt-1 ml-5 ">Take the 15%
                Challenge.</button>
        </div>
    </form>
    </form>
</div> -->