<div class="row">
        <div class="col-lg-7 col-md-10 mx-auto">
            <form method="POST" action="https://formspree.io/sparky@fithome.life">
                <input type="email" class="form-control form-control-lg col-10 ml-5" name="email"
                    placeholder="Your email">
                <button type="submit" class="btn btn-primary  btn-lg mt-1 ml-5 mb-2">Notify me when
                    FitHome
                    is
                    Available.</button>
            </form>
        </div>
    </div>